#profile-card {
    /* background: rgba(255, 255, 255, 0.7); */
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    /* border-radius: 10px; */
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    border: none;
    /* width: 500px; */
    /* height: 500px; */
    padding: 20px;
}

.gallery {
    display: flex;
    /* displays flex-items (children) inline */
    flex-wrap: wrap;
    /* enables their wrapping */
}

.gallery>div {
    flex-basis: calc(33% - 100px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* initial width set to 50% of the parent's - left & right margins */
    height: 400px;
    max-width: 400px;
    margin: 0 100px;
    /* preferably top & bottom margins set to zero to keep calculations simple */
    /* border: 1px solid; */
    box-sizing: border-box;
    /* because of the borders, also recommended in general */
}

.gallery>div:nth-child(1) {
    margin-top: 150px;
    /* half of divs height + half of the desired gap between them; modification affects all but the first div */
}

.gallery>div:nth-child(3) {
    margin-top: 120px;
    /* half of divs height + half of the desired gap between them; modification affects all but the first div */
}

.gallery>div:nth-child(3n-2):not(:first-child) {
    margin-top: 100px;
    /* - half of divs height + half of the desired gap between them, so in this case the gap is 10px (2 x 5px); modification affects all but the first odd div (if ofc. modification is "")  */
}

.gallery>div:nth-child(3n-1):not(:nth-child(2)) {
    margin-top: 0px;
}

.gallery>div:nth-child(3n):not(:nth-child(3)) {
    margin-top: 225px;
    /* gap size; modification affects all but the first three divs */
}

@media (max-width: 600px) {
    .gallery {
        flex-direction: column
    }
    /* stacks flex-items vertically */
    .gallery>div {
        flex-basis: auto
    }
    /* initial width set to default or 100% */
    .gallery>div:not(:first-child) {
        margin-top: 10px !important
    }
}